.home,
.social-media-area {
  margin: 0 !important;
  transition: all 200ms linear;
}

.home:hover {
  transform: scale(1.25);
}
.navbar {
  box-shadow: 0 0 20px gray;
  padding: 1rem;
  box-sizing: border-box;
}
.nav-header {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
}
.links-area {
  transition: all 200ms linear;
  overflow: hidden;
  margin: 0 -15px;
}
ul {
  list-style-type: none;
}
.social-media-area {
  overflow: hidden;
}
.nav-links {
  padding: 0;
  margin: 5px 0;
}
a {
  text-decoration: none;
}
.nav-item {
  margin: auto;
  text-align: center;
  padding: 1rem;
  text-transform: uppercase;
  color: #1a1d4ad9 !important;
  font-weight: 500;
}
.nav-item:hover {
  color: #000 !important;
  font-weight: 700;
}

/* #region social media section */
.social-media {
  display: flex !important;
  padding: 0;
  margin: 0;
  justify-content: center;
}
.social-link {
  margin: 0 1rem;
  font-size: 1.5rem;
}
.social-link:hover {
  color: #000 !important;
}

/* facebook */
.social-link:nth-child(1) {
  color: #4267b2;
}

/* twitter */
.social-link:nth-child(2) {
  color: #1da1f2;
}

/* linkedin */
.social-link:nth-child(3) {
  color: #0077b5;
}

/* behance */
.social-link:nth-child(4) {
  color: #053eff;
}

/* #endregion */

.nav-toggle {
  display: none !important;
  color: #1a1d4ad9 !important;
  font-size: x-large;
  transition: all 200ms linear;
  cursor: pointer;
}
.rotate-toggle {
  transform: rotate(-90deg) !important;
}

@media screen and (max-width: 800px) {
  .nav-toggle {
    display: block !important;
  }

  .nav-links li {
    padding: 10px 0 !important;
  }
}
@media screen and (min-width: 801px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .links-area,
  .social-media-area {
    height: auto !important;
  }
  .nav-links {
    display: flex;
  }
}
